NODE_ENV=development
CLIENT_URL=YOUR-CLIENT-URL-HERE

PORT=YOUR-PORT-HERE

DB_HOST=YOUR-DATABASE-HOST-HERE
DB_NAME=YOUR-DATABASE-NAME-HERE
DB_PORT=YOUR-DATABASE-PORT-HERE
DB_USER=YOUR-DATABASE-USER-HERE
DB_PASSWORD=YOUR-DATABASE-PASSWORD-HERE
DB_URL=YOUR-DATABASE-URL-HERE

JWT_SECRET=YOUR-JWT-SECRET-KEY-HERE
JWT_EXPIRES_IN=YOUR-JWT-EXPIRES-HERE

GEMINI_API_KEY=YOUR-GEMINI-API-KEY-HERE
GEMINI_MODEL=YOUR-GEMINI-MODEL-HERE
